**/desktop.ini
/.vs
/database/.dbeaver
/node_modules
/src/nyssa.wasm/bin/Debug/net8.0
/src/nyssa.wasm/node_modules
/src/nyssa.wasm/obj
/test/Nyssa.Rbac.IntegrationTests/bin/Debug/net8.0
/test/Nyssa.Rbac.IntegrationTests/obj
/test/Nyssa.Rbac.IntegrationTests/nul
/src/nyssa.mcp.client/obj
/src/nyssa.mcp.server/obj
/src/nyssa.mcp.client/bin/Debug/net8.0
/src/nyssa.mcp.server/bin/Debug/net9.0
/nul
**/appsettings.local.json
**/appsettings.json
/src/nyssa.mcp.server/logs
